# session2

In [1]:
# three  steps in while loop
# 1)initialisation
# 2)condition checking 
# 3)increment/Decrement step

In [2]:
# while condition:
#     statement 
#     incre/decre

In [4]:
# print number from 1 to 10 using while 
i=1
while i<=10:
    print(i)
    i=i+1

1
2
3
4
5
6
7
8
9
10

In [5]:
sum=0
i=1
while i<=10:
    sum=sum+i
    i=i+1
print("Sum=",sum)

Sum= 55

In [7]:
# fabbonacci series =third number is addition of previous two numbers
0,1,1,2,3,5,8,13,21

(0, 1, 1, 2, 3, 5, 8, 13, 21)

In [13]:
i=1
a=0
b=1
c=0
while i<=10:
    print(c," ")
    a=b
    b=c
    c=a+b
    i=i+1

0
1
1
2
3
5
8
13
21
34

In [15]:
# generator function 
# it is special type of function that returns an iterator 
# it has two types 
# 1)yield 
# 2)next

In [16]:
def gen_function():
    a,b=0,1
    while True:
        yield a
        a,b=b,a+b

In [17]:
data=gen_function()

In [21]:
for i in range(1,5):
    print(next(data))

144
233
377
610

In [23]:
# lambda function 
# A lambda function in python is small and anonymous function defined
# using lamda keyword

In [24]:
add=lambda a,b:a+b

In [28]:

add(89,78)

167

In [29]:
add(90,90)

180

In [30]:
sq=lambda n:n*n

In [31]:
sq(34)

1156

In [32]:
sq(89)

7921

In [33]:
# map function 
# the map function is a built in function in python that applies a given
# function to each itom in an iterable(list,tuple,string)

In [34]:
# map(function,iterables...)

In [43]:
def square(x):
    return x*x

lst=[1,2,3,4,5,6,7]

In [44]:
sq=map(square,lst)

In [45]:
print(list(sq))

[1, 4, 9, 16, 25, 36, 49]

In [46]:
fruits=('apple','mango','banana','cherry')

In [47]:
def cal_len(a):
    return len(a)

In [48]:
x=map(cal_len,fruits)

In [49]:
print(tuple(x))

(5, 5, 6, 6)